.mobile-card {
    border-top: 1px solid var(--flow-color-primary-200);
    display: grid;
    gap: var(--spacing-01);
    grid-template-columns: 3fr 1fr;
    padding: var(--spacing-01) 0;
}
.mobile-card:last-child {
    border-bottom: 1px solid var(--flow-color-primary-200);
}
.mobile-card__header {
    grid-area: 1/1/2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-card__title {
    grid-area: 2/1/3/3;
    margin-block: 0;
}
.mobile-card__id, .mobile-card__date {
    color: var(--flow-color-primary-500);
    font-size: var(--font-size-small);
}
.mobile-card__id {
    text-align: right;
}